@model IEnumerable<clinicaVeterinariaApp.Models.Farmacia.Fornitore>

@{
    ViewData["Title"] = "Lista Fornitori";
}

<h2>@ViewData["Title"]</h2>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Indirizzo</th>
                <th>Recapito</th>
                <th>Azioni effetuabili</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fornitore in Model)
            {
                <tr>
                    <td>@fornitore.Nome</td>
                    <td>@fornitore.Indirizzo</td>
                    <td>@fornitore.Recapito</td>
                    <td>

                        <a asp-action="modificaFornitore" asp-route-id="@fornitore.FornitoreId" class="btn btn-primary ms-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                            </svg>
                        </a>
                        <a asp-action="eliminaFornitore" asp-route-id="@fornitore.FornitoreId" class="btn btn-danger me-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                            </svg>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="creazioneFornitore" class="btn btn-outline-primary">Aggiungi Fornitore</a>
}
else
{
    <div class="alert alert-warning">Ancora nessun fornitore</div>
    <a asp-action="creazioneFornitore" class="btn btn-outline-primary">Aggiungi un nuovo Fornitore</a>


}

