@model IEnumerable<clinicaVeterinariaApp.Models.Veterinario.Animali>

<h2>Elenco Animali</h2>

<div class="mb-3">
    <form action="SearchBarMedicinali" method="get" class="d-flex">
        <div class="d-flex me-2">
            <input class="form-control" name="query" type="search" placeholder="Cerca" aria-label="Cerca">
        </div>
        <div>
           <button class="btn btn-outline-primary" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85zm-5.81 1.065a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11z" />
                </svg>
            </button>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipologia</th>
            <th>Colore Mantello</th>
            <th>Data Nascita</th>
            <th>Azioni effettuabili</th>
        </tr>
    </thead>
    <tbody id="animaliTableBody">
        @foreach (var animale in Model)
        {
            <tr>
                <td>@animale.NomeAnimale</td>
                <td>@animale.Tipologia</td>
                <td>@animale.ColoreMantello</td>
                <td>@animale.DataNascita?.ToShortDateString()</td>
                <td>
                    <a href="@Url.Action("DettagliAnimale", new { id = animale.AnimaleID })"></a> 
                    <a asp-action="DettagliAnimale" asp-route-id="@animale.AnimaleID" class="btn btn-primary ms-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
                        </svg>
                    </a>
                    <a asp-action="ModificaAnimale" asp-route-id="@animale.AnimaleID" class="btn btn-primary ms-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                        </svg>
                    </a>
                    <a asp-action="EliminaAnimale" asp-route-id="@animale.AnimaleID" class="btn btn-danger me-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                        </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("CreazioneAnimale")" class="btn btn-outline-primary">Aggiungi Nuovo Animale</a>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchInput').on('keyup', function () {
                var searchTerm = $(this).val().toLowerCase();

                $.ajax({
                    url: '@Url.Action("CercaAnimali")',
                    type: 'GET',
                    data: { query: searchTerm },
                    success: function (data) {
                        $('#animaliTableBody').html(data);
                    },
                    error: function () {
                        alert('Errore nella ricerca.');
                    }
                });
            });
        });
    </script>
}
