@model IEnumerable<clinicaVeterinariaApp.Models.Veterinario.Visite>

@{
    ViewData["Title"] = "Elenco delle Visite";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Animale ID</th>
            <th>Data della Visita</th>
            <th>Esame Obiettivo</th>
            <th>Descrizione Cura</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var visita in Model)
        {
            <tr>
                <td>@visita.VisitaID</td>
                <td>@visita.AnimaleID</td>
                <td>@visita.DataVisita.ToShortDateString()</td>
                <td>@visita.EsameObiettivo</td>
                <td>@visita.DescrizioneCura</td>
                <td>
                    <a asp-action="Details" asp-route-id="@visita.VisitaID">Dettagli</a> |
                    <a asp-action="Edit" asp-route-id="@visita.VisitaID">Modifica</a> |
                    <a asp-action="Delete" asp-route-id="@visita.VisitaID">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Aggiungi Nuova Visita</a>
