@model IEnumerable<clinicaVeterinariaApp.Models.Veterinario.RicoveriViewModel>

@{
    ViewData["Title"] = "Elenco Ricoveri";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Aggiungi Nuovo Ricovero</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipologia</th>
            <th>Data Inizio</th>
            <th>Data Fine</th>
            <th>Costo</th>
            <th>Nome Animale</th>
            <th>Microchip</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RicoveriID</td>
                <td>@item.Tipologia</td>
                <td>@item.Datainizioricovero.ToShortDateString()</td>
                <td>@item.DataFineRicovero.ToShortDateString()</td>
                <td>@item.Costo</td>
                <td>@item.NomeAnimale</td>
                <td>@item.MicrochipBit ? "Sì" : "No"</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RicoveriID" class="btn btn-warning">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.RicoveriID" class="btn btn-info">Dettagli</a> |
                    <a asp-action="Delete" asp-route-id="@item.RicoveriID" class="btn btn-danger">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>
