@model IEnumerable<clinicaVeterinariaApp.Models.Farmacia.Prodotto>

@{
    ViewData["Title"] = "Prodotto Index";
}

<h1>Prodotti</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrezzoUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornitore.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrezzoUnitario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fornitore.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProdottoID" class="btn btn-outline-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProdottoID" class="btn btn-outline-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProdottoID" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
