@model IEnumerable<clinicaVeterinariaApp.Models.Farmacia.Prodotto>

@{
    ViewData["Title"] = "Prodotto Index";
}

<div class="d-flex justify-content-between">
<h2>Tutti i prodotti: </h2>
<form action="SearchBarProdotti" method="get" class="d-flex">
    <div class="d-flex me-2">
        <!-- L'input occupa due terzi della riga -->
        <input class="form-control" name="nome" type="search" placeholder="Cerca" aria-label="Cerca">
    </div>
    <div>
        <!-- Bottone con icona di ricerca -->
        <button class="btn btn-outline-primary" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85zm-5.81 1.065a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11z" />
            </svg>
        </button>
    </div>
</form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrezzoUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoProdotto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornitore.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrezzoUnitario)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.FotoProdotto))
                    {
                        <img src="data:image/jpeg;base64,@item.FotoProdotto" alt="Product Image" width="100" height="100" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fornitore.Nome)
                </td>
                <td>
                    
                    <a asp-action="Delete" asp-route-id="@item.ProdottoID" class="btn btn-outline-danger">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Create")" class="btn btn-outline-primary">Aggiungi prodotto</a>
